body {
  background-color: #13f8dab7;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #333;
}

form.html {text-align: center;
padding: 20px;
}
footer {
  background-color: #017e6d;
  color: #fff;
  padding: 20px;
  text-align: center;
}
